<!DOCTYPE html>
<html>
  <head>
    <title>HydraServer</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
  </head>

  <body>
    <p>
      <% if flash[:alert] %>
        <pre>
          <%= flash[:alert] %>
        </pre>
      <% end %>
    </p>

    <%= yield %>
  </body>
</html>
